<% include frmheader.ejs %>
<!-- Split button -->
<div id="div_content" class="div_base">
    <div id="div_map" style="float:left;right:550px;left:0px;width:auto;position:absolute;height: 700px;border-right:solid #e0e0e0 1px;">

    </div>

    <div id="div_info" style="float:left; padding-left:10px; width: 500px; position:absolute;right: 50px; height: 700px; border:solid blue 0px; text-align: left;">

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <%= data.cityInfo.name_chs%>市<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">暂未开放其他城市</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                全部区域<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <% if(!data.regionList || data.regionList.length == 0) {%>
                    <li><a href="#">没有合适的区域</a></li>
                <%}
                else
                {data.regionList.forEach(function(region){%>
                    <li><a href="#"><%= region.name_chs%></a></li>
                <% });}%>
            </ul>
        </div>

        <div id="div_cityInfo" style="display: none;" data-cityinfo=<%= JSON.stringify(data.cityInfo)%>>
            城市信息
        </div>
        <div id="div_cityRegionList" style="display: none;" data-cityregionlist=<%= JSON.stringify(data.regionList)%>>
            城市区域列表
        </div>

        <div style="top: 10px; position: relative;">
            <div style="float:left;width:70px;font-family: Tahoma,Arial;font-weight: bold;font-size: 20px;line-height: 21px;color: #eb5f00;text-align: right;"><%= data.cityInfo.cnt_comm%></div>
            <div style="float:left;margin-left: 5px; ">个小区</div>
            <div style="float:left;width:60px;font-family: Tahoma,Arial;font-weight: bold;font-size: 20px;line-height: 21px;color: #eb5f00;text-align: right;"><%= data.cityInfo.cnt_youeryuan%></div>
            <div style="float:left;margin-left: 5px;">所幼儿园</div>
            <div style="float:left;width:60px;font-family: Tahoma,Arial;font-weight: bold;font-size: 20px;line-height: 21px;color: #eb5f00;text-align: right;"><%= data.cityInfo.cnt_xiaoxue%></div>
            <div style="float:left;margin-left: 5px;">所小学</div>
            <div style="clear:both;"></div>
        </div>

        <div style="margin-top: 30px; position: relative;">
            <div class="input-group" style="width: 350px;">
                <input type="text" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div>

        <div style="clear: both;"></div>

        <div style="margin-top:30px;position: relative;font-size:22px;font-weight: bold;">
            <span style="font-family: Tahoma,Arial;">TOP5</span>小区
        </div>
        <div>
            <% if(!data.TopCommList || data.TopCommList.length == 0) {%>
            <li><a href="#">暂无推荐的小区</a></li>
            <%}
            else
            {
                for(var i=0;i<data.TopCommList.length;i++){
            %>
                <span>[<%= data.TopCommList[i].region_name%>]&nbsp;<%= data.TopCommList[i].name_chs%>&nbsp;<%= data.TopCommList[i].comm_id%></span><br>
            <%
                }
            }
            %>
        </div>



        <div style="margin-top:30px;position: relative;font-size:22px;font-weight: bold;">
            <span style="font-family: Tahoma,Arial;">TOP5</span>小学
        </div>
        <div>
            <% if(!data.TopXiaoxueList || data.TopXiaoxueList.length == 0) {%>
            <li><a href="#">暂无推荐的小学</a></li>
            <%}
            else
            {
                for(var i=0;i<data.TopXiaoxueList.length;i++){
            %>
                <span>[<%= data.TopXiaoxueList[i].region_name%>]&nbsp;<a href="/school/view/<%= data.TopXiaoxueList[i].school_id%>"><%= data.TopXiaoxueList[i].name_chs%>&nbsp;</a></span><br>
            <%
                }
            }
            %>
        </div>


        <div style="margin-top:30px;position: relative;font-size:22px;font-weight: bold;">
            <span style="font-family: Tahoma,Arial;">TOP5</span>幼儿园
        </div>
        <div>
            <% if(!data.TopYoueryuanList || data.TopYoueryuanList.length == 0) {%>
            <li><a href="#">暂无推荐的幼儿园</a></li>
            <%}
            else
            {
                for(var i=0;i<data.TopYoueryuanList.length;i++){
            %>
                <span>[<%= data.TopYoueryuanList[i].region_name%>]&nbsp;<%= data.TopYoueryuanList[i].name_chs%>&nbsp;<%= data.TopYoueryuanList[i].school_id%></span><br>
            <%
                }
            }
            %>
        </div>

    </div>

    <%include frmright.ejs%>
</div>
<script src="/js/public.js"></script>
<script>
    function initMe(){
        $(".toolbar-group").hover(
                function(){
                    $(this).addClass("toolbar-group-hover");
                },
                function(){
                    $(this).removeClass("toolbar-group-hover");
                }
        );

        var cityInfo = $("#div_cityInfo").data("cityinfo");
//        alert(cityInfo.pos_baidu);

        var regionList = $("#div_cityRegionList").data("cityregionlist");
//        alert(regionList.length);

        var pos_baidu = cityInfo.pos_baidu.split(",");

        // 开始画地图
        var map = new BMap.Map('div_map');
        map.centerAndZoom(new BMap.Point(pos_baidu[0],pos_baidu[1]), 12);
        map.setMapStyle({styleJson:styleJSON});
//        map.enableScrollWheelZoom(); //启用鼠标缩放


        var infoBox;

        //添加行政区边界
        $.each(regionList,function(index,region){
            var regionName = region.name_chs;
            var regionColor = region.bg_color;



            //提示窗口的属性
            var opts = {
                width : 250,     // 信息窗口宽度
                height: 80,     // 信息窗口高度
                cursor:"pointer",
                enableMessage:false//设置允许信息窗发送短息
            };


            // 画多边形行政区域
            var bound = new BMap.Boundary();
            bound.get(regionName,function(rs){
                for(var i=0;i<rs.boundaries.length;i++){
                    var polygon = new BMap.Polygon(rs.boundaries[i]);
                    polygon.setStrokeColor(regionColor);
                    polygon.setStrokeOpacity(1);
                    polygon.setStrokeWeight(1);

                    polygon.setFillColor(regionColor);
                    polygon.setFillOpacity(0.5);

                    //为各个区添加信息窗口，提示这个区的统计数据
                    //比如： 小区数、中小学数量
                    map.addOverlay(polygon);
                    polygon.addEventListener("click",function(e){

                        var center = region.pos_baidu.split(",");
                        //信息窗口的中心设置为区的中心点（自己给的）
                        var point = new BMap.Point(center[0],center[1]);

                       if(infoBox){
                            infoBox.close();
                        }

                        //改用infobox试试
                        var html = ["<div class='infoBoxContent'><div class='title'><strong>"+region.name_chs+"</strong></div>"

                            ,"<div class='list'><span class='school_type'>幼儿园：</span><span class='school_quantity'>"
                                    +"<a href=/city/"+region.city_id+"/region/"+region.name_py+"/schools/youeryuan>"+region.cnt_youeryuan+"</a>"
                                    +"</span><span class='school_unit'>所</span></div>"
                            ,"<div class='list'><span class='school_type'>小学：</span><span class='school_quantity'>"
                                    +"<a href=/city/"+region.city_id+"/region/"+region.name_py+"/schools/xiaoxue>"+region.cnt_xiaoxue+"</a>"
                                    +"</span><span class='school_unit'>所</span></div>"
                            ,"<div class='list'><span class='school_type'>初中：</span><span class='school_quantity'>"
                                    +"<a href=/city/"+region.city_id+"/region/"+region.name_py+"/schools/chuzhong>"+region.cnt_chuzhong+"</a>"
                                    +"</span><span class='school_unit'>所</span></div>"
                            ,"</div>"];

                        infoBox = new BMapLib.InfoBox(map,html.join(""),{
                            boxStyle:{
                                width: "170px"
                                ,height: "auto"
                                ,border:"0px solid #4FA5FC"
//                                ,background_color:"#cccccc"
                                ,border_radius:"5px"
                            }
                            ,closeIconMargin: "1px 1px 0 0"
                            ,enableAutoPan: true
                            ,align: INFOBOX_AT_TOP

                        });

                        //alert(infoBox);
                        infoBox.open(point);

                    });


                }
            });


        });
    }

    $(document).ready(initMe);

</script>

<% include frmfooter.ejs %>
